    .content {        
    max-width: 1300px;
    margin: 0 auto;
    }
    body {
        background-color: #F5F5F5 ;
        margin: 0;
        padding: 0;
    }
/*-----------------------------Header-----------------------------*/
    header {
        background-color: #AF94A0;        
        display: grid;
        grid-template-columns: 150px auto;
        width: 1260px;
        padding: 20px;
        
    }
    nav a {
        text-align: center;  
        padding: 35px;
        font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
        color: black;
	    transition: all 0.3s ease;
    }
    .header-font{        
        color: black;
        text-decoration: none;        
        font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
        font-size: 22px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
    nav a:hover {
        background-color: #947E88;
        color: white;
    }
/*-----------------------------Main-----------------------------*/

/*------Home pg1--------*/

#main-pg1{    
    display: grid;
    grid-template-columns: 415px 470px 415px;
    grid-template-rows: 100px 675px;
    margin-bottom: 200px;
   
}
#my-name{ 
    padding-left: 35px;
    text-align: left;    
    padding-top: 55px;    
    font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
    font-size: 30px;    
}
#professional-intro-box{
    z-index: 3;
    grid-column: 1/3;
    grid-row: 1;    
    width: 415px;
}
#professional-intro{        
    padding-left: 35px;
}
#personal-intro-box{
    grid-column: 3;
    grid-row: 2;
    z-index: 2;
    text-align: right;    
    width: 415px;
}
#personal-intro{  
    padding-right: 35px;
}
#pg1-img-box{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;  
   position: relative;
   
}
#pg1-img{
    width: 1300px;
    position: relative;
}

.pg1-body-font{
    color: black;        
    font-size: 20px;
    font-family: 'Trebuchet MS', Perpetua, Optima, serif, "Garamond (serif)";
}
/*------Contact pg2--------*/
::placeholder{
    font-family: 'Trebuchet MS', Perpetua, Optima, serif, "Garamond (serif)";
}
.main-content{
    width: 1000px;
    padding-left: 150px;
    padding-top: 55px; 
}
#pg2-img-box{
    margin: auto;
    width: 700px;
}
#pg2-img{
    width: 700px;
}
.main-heading-font{
    font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
    font-size: 30px;
    
}
.phases-heading-font{
    font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
    font-style: italic;
    font-size: 20px;
    padding-top: 35px;
}
.p-heading-font{
    font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
    font-size: 21px;       
}
.pg2-body-font{
    color: black;        
    font-size: 20px;
    font-family: 'Trebuchet MS', Perpetua, Optima, serif, "Garamond (serif)";
    padding-bottom: 35px;
    
}
/*--contact form--*/
#form-font{
    color: black;        
    font-size: 20px;
    font-family: 'Trebuchet MS', Perpetua, Optima, serif, "Garamond (serif)";
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #AF94A0;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #947E88;
    color: white;
    transition: all 0.3s ease;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/*------Education pg3--------*/

#pg3-img-box{
    margin: auto;
    width: 1300px;
}
#pg3-img{
    width: 1300px;
}


/*----------------------------Footer------------------------------*/
    #logo_link{
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }
    .logo{
        width: 80px;
    }
    footer {
        background-color: #AF94A0;
        color: black;
        padding: 25px;
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'century gothic', Perpetua, Optima, serif, "Garamond (serif)";
        font-size: 22px;
        width: 1251px;
    }
    footer a{
        color: black;
        text-decoration: none;
    }
    footer a:hover{
        color: white;
    }
    footer p a:hover{
        text-decoration: underline;
    }
    footer .social img{
        padding-top: 15px;
        padding-left: 35px;
    }
    .social-icon{
        height: 64px;
        
    }
/*----------------------------------------------------------*/